services:
  root:
    build: ./root-config
    ports:
      - ${ROOT_PORT}:80
    environment:
      PROJECT123_ROOT_CONFIG_URL: http://localhost:${ROOT_PORT}/project-root-config.js
      PROJECT123_ANGULAR_URL: http://localhost:${ANGULAR_PORT}/main.js
      PROJECT123_REACT_URL: http://localhost:${REACT_PORT}/project-react.js
      CONFIG_ENV_PREFIX: PROJECT123
      CONFIG_FILE_REGEX: \./index\.html
      NGINX_CACHE: ${NGINX_CACHE}
    depends_on:
      - angular
      - react

  angular:
    build: ./angular
    ports:
      - ${ANGULAR_PORT}:80
    environment:
      PROJECT123_API_URL: some_random_http_url
      CONFIG_ENV_PREFIX: PROJECT123
      CONFIG_FILE_REGEX: \./.*\.js
      NGINX_CACHE: ${NGINX_CACHE}

  react:
    build: ./react
    ports:
      - ${REACT_PORT}:80
    environment:
      PROJECT123_API_URL: another_random_http_url
      CONFIG_ENV_PREFIX: PROJECT123
      CONFIG_FILE_REGEX: \./.*\.js
      NGINX_CACHE: ${NGINX_CACHE}
